<body class="bg-grey_home">
    <nav class="bg-blue p-4 flex justify-between items-center max-w-8xl mx-auto">
      <div class="mr-4 text-white text-2xl font-bold flex items-center">
       <a href="/" class="mr-4 text-white text-2xl font-bold flex items-center">
    <span class="arrow-left text-white text-5xl font-bold">&#8592;</span>
  </a>
        </div>
        <div class="mr-4 text-white text-2xl font-bold flex items-center">
        <span class="ml-2">Registration</span>
      </div>
    <div class="flex items-center">
      <ul class="flex space-x-4">
        <%= form_tag(destroy_user_session_path, method: :delete) do %>
          <li class="mr-3">
            <%= submit_tag 'Log Out', class: "text-white block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 cursor-pointer" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
  <div style="margin: 2rem;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.text_field :name, placeholder: "Enter your name", autocomplete: "name", autofocus: true, required: true, class: "f-w w-full rounded-lg px-3 py-2 border" %>
      </div>

      <div class="field">
        <%= f.email_field :email, placeholder: "Enter your email", autofocus: true, autocomplete: "email", class: "f-w w-full rounded-lg px-3 py-2 border" %>
      </div>

      <div class="field">
        <%= f.password_field :password, placeholder: "Enter your password (Minimum 6 characters)", autocomplete: "new-password", class: "f-w w-full rounded-lg px-3 py-2 border" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "Confirm your password", autocomplete: "new-password", class: "f-w w-full rounded-lg px-3 py-2 border" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up",  class: 'block w-full bg-blue-500 text-center text-white font-semibold py-2 px-4 rounded-lg', style: "padding: 0.60rem"  %>
      </div>
    <% end %>
  </div>
</body>
