<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-grey_home">
 <section class="h-screen flex flex-col items-center justify-center">
  <h1 class="heading m-2">Budgetary</h1>
  <div class="flex items-center btn">
   <button class="bg-blue btn-p"><%= link_to 'Log In', new_user_session_path %></button>
    <button class="bg-grey_home btn-p hover"><%= link_to 'Sign Up', new_user_registration_path %></button>
  </div>
</section>


  </body>
</html>
