<h2 class="title-log-in">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mb-4">
    <%= f.label :email, class: "label-input" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border-2 border-gray-300 rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500" %>
  </div>

  <div class="mb-4">
    <%= f.label :password, class: "label-input" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "w-full border-2 border-gray-300 rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-4">
      <label class="inline-flex items-center">
        <%= f.check_box :remember_me, class: "form-checkbox text-blue-500" %>
        <span class="ml-2 text-gray-700">Remember me</span>
      </label>
    </div>
  <% end %>

  <div class="flex items-center justify-between">
    <%= f.submit "Log in", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
