<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
</head>
<body>
 <nav class="bg-blue p-4 flex justify-between items-center max-w-8xl mx-auto">
      <div class="mr-4 text-white text-2xl font-bold flex items-center">
       <a href="/" class="mr-4 text-white text-2xl font-bold flex items-center">
    <span class="arrow-left text-white text-5xl font-bold">&#8592;</span>
  </a>
        </div>
        <div class="mr-4 text-white text-2xl font-bold flex items-center">
        <span class="ml-2">Transactions</span>
      </div>
    <div class="flex items-center">
      <ul class="flex space-x-4">
        <%= form_tag(destroy_user_session_path, method: :delete) do %>
          <li class="mr-3">
            <%= submit_tag 'Log Out', class: "text-white block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 cursor-pointer" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<main>
   <% if flash[:success] %>
    <div id="flash-success" class="flash flash-success flex items-center text-white justify-center bg-green">
      <%= flash[:success] %>
    </div>
  <% end %>
  <div class="bg-white rounded-lg shadow-md p-4 text-center flex items-center flex justify-between mb-2",style="margin: 2rem;">
  <h2><%= @category.title %></h2>
  <p>$<%= @total_amount %></p>
</div>

      <% @transactions.each do |transaction| %>
  <div class="bg-white rounded-lg shadow-md p-4 text-center flex items-center flex justify-between">
    <div>
      <h2 class="font-normal text-text_color pb-6"><%= transaction.name %></h2>
      <p>
        <%= transaction.created_at.strftime('%d %b %Y') %>
      </p>
    </div>
    <div>
       <p class="font-bold text-right">$<%= transaction.amount %></p>
    </div>
  </div>
<% end %>
</main>
<footer>
<%= link_to 'Add Transaction', new_category_transaction_path(category), class: 'block w-full bg-green text-center text-white font-semibold py-2 px-4 rounded-lg' %>
</footer>
</body>
</html>
 
 
   